/* #140005, #464033, #7E7C73, #BBC4C2, #969696 */
body {
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;
}

.header_text {
    color: #f7f7f7;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    margin: 0;
}

.navbar {
    overflow: hidden;
    #background-color: #969696;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
}

.container-1 {
    padding-left: 16px;
}

.parking_image {
    width: 96%;
    max-width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
