.alert {
    padding: 15px!important;
    margin-bottom: 20px!important;
    border: 1px solid transparent!important;
    border-radius: 4px!important;
}

.alert h4 {
    margin-top: 0!important;
    color: inherit!important;
}

.alert .alert-link {
    font-weight: bold!important;
}

.alert > p,
.alert > ul {
    margin-bottom: 0!important;
}

.alert > p + p {
    margin-top: 5px!important;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px!important;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative!important;
    top: -2px!important;
    right: -21px!important;
    color: inherit!important;
}

.alert-success {
    background-color: #dff0d8!important;
    border-color: #d6e9c6!important;
    color: #3c763d!important;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c!important;
}

.alert-info {
    background-color: #d9edf7!important;
    border-color: #bce8f1!important;
    color: #31708f!important;
}

.alert-info hr {
    border-top-color: #a6e1ec!important;
}

.alert-info .alert-link {
    color: #245269!important;
}

.alert-warning {
    background-color: #fcf8e3!important;
    border-color: #faebcc!important;
    color: #8a6d3b!important;
}

.alert-warning hr {
    border-top-color: #f7e1b5!important;
}

.alert-warning .alert-link {
    color: #66512c!important;
}

.alert-danger {
    background-color: #f2dede!important;
    border-color: #ebccd1!important;
    color: #a94442!important;
}

.alert-danger hr {
    border-top-color: #e4b9c0!important;
}

.alert-danger .alert-link {
    color: #843534!important;
}